doctype
html(ng-app="DocListAppNG")
    head
        meta(charset='utf8')
        base(href='/')
        title Angular Express Markdown Viewer
        link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/app.css')
    body
        block content
    